<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net462" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net462" />
  <package id="Inquirer.cs" version="3.0.1" targetFramework="net462" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net462" />
  <package id="Serilog" version="2.6.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.Email" version="2.3.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net462" />
</packages>